%h1{style: "float: left"}= link_to "Activid", root_path

%ul.header-nav
  - if current_user
    %li= "logged-in as #{current_user.email}"
    %li= link_to "log out", destroy_user_session_path, method: :delete
  - else
    %li How It Works
    %li Pricing
    %li Log In
    %li= link_to "Get Started", new_project_path

%div{style: "clear: both"}
