%h1{style: "float: left"}= link_to "Activid", root_path

%ul.header-nav
  - if current_user
    %li= link_to "Projects", projects_path
    %li= "logged-in as #{current_user.email}"
    %li= link_to "log out", destroy_user_session_path, method: :delete

  - else
    %li How It Works
    %li Pricing
    %li= link_to "Log In", "#", {class: "log-in-link"}
    %li= link_to "Get Started", new_project_path

%div{style: "clear: both"}
