= form_for :project, url: (project.persisted? ? project_path(project) : projects_path) do |f|
  = hidden_field_tag :step, 1

  %p
    = f.label :name, "Name your project"
    %br
    = f.text_field :name

  %p
    = f.label :category, "What type of video is this?"
    %br
    = f.select :category, options_for_category_select

  %p
    = f.label :desired_length, "About how long should it be?"
    %br
    = f.select :desired_length, options_for_desired_length_select

  %p
    = f.label :instructions, "Special instructions"
    %br
    = f.text_area :instructions

  %p
    = f.check_box :allow_to_be_featured
    = f.label :allow_to_be_featured, "Let us feature your awesome video on our website!"

  %p
    = f.submit "Next"
