!!!
%html
  %head
    %title Activid
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render "shared/modals/sign_up"
    = render "shared/modals/sign_in"
    = render "shared/header"

    = yield
